
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  height: 100vh;
  width: 100vw;
}
.weather-container{
  height: auto;
  width: 400px;
  padding: 30px 10px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  /* text-align: center; */
  border-radius: 40px;
  background: #3b3b3b;
  color: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.75),
              inset -5px -5px 40px rgba(0, 0, 0, 0.75);
}
.weather-container h1{
  color: rgb(3, 249, 3);
  margin-bottom: 20px;
  text-align: center;
}
.weather-container input{
  display: inline-block;
  border: 0;
  outline: none;
  height: 35px;
  width: calc(100% - 30px);
  padding: 15px;
  border-radius: 20px;
  background: #eee;
  margin-bottom: 15px;
  margin-left: 15px;
}
.weather-container button{
  border: none;
  border-radius: 30px;
  height: 35px;
  width: 100px;
  font-size: 14px;
  font-weight: 600;
  background: #3e636f;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin-left: 140px;
}
.weather-container button:hover{
  background: #32505a;
}

p{
  color: white;
  margin: 8px 0;
  text-align: center;
}


#temp-div p{
  font-size: 60px;
  
}


#weather-info{
  font-size: 20px;
}

#weather-icon{
  width: 100px;
  height: 100px;
  margin: 20px auto 10px;
  margin-bottom: 0;
  display: none;
}

#hourly-forecast{
  margin-top: 50px;
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
}

.hourly-item{
  flex: 0 0 auto;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  color: white;
}

.hourly-item img{
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}



#hourly-forecast::-webkit-scrollbar{
  height: 6px;

}
#hourly-forecast::-webkit-scrollbar-track{
 border-radius: 10px;
}
#hourly-forecast::-webkit-scrollbar-thumb{
 border-radius: 10px;
 background: #b4b2b2;
}

